*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "DM Sans", "sans-serif";
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--global-bg-color);
  background-image: var(--global-bg-image);
  background-attachment: fixed;
  color: var(--global-text-color);
  transition: 0.3s;
}

::-moz-selection {
  background-color: #c27cf8;
}

::selection {
  background-color: #c27cf8;
}

.theme-light {
  --global-bg-color: #ffffff;
  --global-text-color: #12131a;
  --global-bg-image: url("../img/bg-light-theme.png");
  --btn-bg-color: #f2f2f7;
  --btn-hover-bg-color: #e4e4ef;
  --logo-bg-image: url("../img/logo-light-theme.svg");
  --input-bg-color: #f2f2f7;
  --input-hover-bg-color: #e4e4ef;
  --input-border: 2px solid #e4e4ef;
  --arrow-icon: url("../img/chevron-down-solid.svg");
  --bar-bg-color: #f2f2f7;
}
.theme-light .icon-sun {
  display: none;
}
.theme-light .icon-moon {
  display: block;
}

.theme-dark {
  --global-bg-color: #12131a;
  --global-text-color: #f2f2f7;
  --global-bg-image: url("../img/bg-dark-theme.png");
  --btn-bg-color: #2a2b37;
  --btn-hover-bg-color: #404254;
  --logo-bg-image: url("../img/logo-dark-theme.svg");
  --input-bg-color: #21222c;
  --input-hover-bg-color: #2a2b37;
  --input-border: 2px solid #2a2b37;
  --arrow-icon: url("../img/chevron-down-solid-white.svg");
  --bar-bg-color: #2a2b37;
}
.theme-dark .icon-sun {
  display: block;
}
.theme-dark .icon-moon {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 990px;
  padding: 16px;
  padding-top: 0;
  gap: 40px;
}
@media (min-width: 768px) {
  .wrapper {
    padding-inline: 32px;
    gap: 48px;
  }
}

.header {
  position: sticky;
  top: 0;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 15;
}
.header--shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: inherit;
  background: var(--global-bg-color);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  opacity: 0.97;
  z-index: -10;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .header--shadow {
    height: inherit;
  }
}
.header__logo {
  width: 100%;
  height: 30px;
  background-image: var(--logo-bg-image);
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 768px) {
  .header__logo {
    height: 40px;
  }
}
.header__btn-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--btn-bg-color);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}
@media (min-width: 768px) {
  .header__btn-switch {
    height: 40px;
    width: 40px;
  }
}
.header__btn-switch .icon {
  width: 20px;
  height: 20px;
}
.header__btn-switch:focus-visible {
  outline: none;
  border: 2px solid #c27cf8;
  box-shadow: 0px 0px 8px #c27cf8;
}
.header__btn-switch:hover {
  background-color: var(--btn-hover-bg-color);
}

.title {
  font-family: "DM Sans", "sans-serif";
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1px;
  text-align: center;
}
@media (max-width: 768px) {
  .title {
    font-family: "DM Sans", "sans-serif";
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1px;
  }
}
@media (min-width: 768px) {
  .title {
    padding-inline: 80px;
  }
}
@media (min-width: 992px) {
  .title {
    padding-inline: 220px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main__text-input {
  font-family: "DM Sans", "sans-serif";
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.6px;
  width: 100%;
  height: 200px;
  padding: 12px;
  color: inherit;
  resize: none;
  background: var(--input-bg-color);
  border-radius: 12px;
  border: var(--input-border);
  transition: background-color 0.2s;
}
.main__text-input--error {
  border: 2px solid #da3701;
  box-shadow: 0px 0px 8px #da3701;
}
.main__text-input:focus-visible {
  outline: none;
  border: 2px solid #c27cf8;
  box-shadow: 0px 0px 8px #c27cf8;
}
.main__text-input:hover {
  background-color: var(--input-hover-bg-color);
}
.main__options {
  font-family: "DM Sans", "sans-serif";
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
@media (min-width: 768px) {
  .main__options {
    flex-direction: row;
    align-items: center;
  }
}
.main__options label {
  margin-left: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main__options .reading {
    margin-left: auto;
  }
}
.main__options-item .checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 18px;
  height: 18px;
  border: 1.5px solid #404254;
  border-radius: 4px;
  vertical-align: middle;
  cursor: pointer;
  transition: outline 0.2s, outline-offset 0.2s;
}
.main__options-item .checkbox:checked {
  border: none;
  background-color: #c27cf8;
  background-image: url("../img/check-solid.svg");
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
}
.main__options-item .checkbox:hover {
  outline: 1.5px solid #c27cf8;
  outline-offset: 2px;
}
.main__options-item .checkbox:focus-visible {
  outline: 2px solid #c27cf8;
  outline-offset: 2px;
}
.main__options-input {
  font-family: "DM Sans", "sans-serif";
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.6px;
  width: 60px;
  height: 25px;
  text-align: center;
  color: inherit;
  background: none;
  border: 1.5px solid #404254;
  border-radius: 6px;
  transition: opacity 0.1s, visibility 0.1s, height 0.1s;
  -moz-appearance: textfield;
}
.main__options-input::-webkit-inner-spin-button, .main__options-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.main__options-input:focus-visible {
  outline: none;
  border: 2px solid #c27cf8;
  box-shadow: 0px 0px 8px #c27cf8;
}
.main__options-input--hidden {
  pointer-events: none;
  opacity: 0;
  height: 0;
}
@media (min-width: 768px) {
  .main__options-input--hidden {
    display: block;
    visibility: hidden;
    opacity: 0;
    height: 25px;
  }
}
.main__textarea-box {
  position: relative;
}
.main__error-msg {
  font-family: "DM Sans", "sans-serif";
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.6px;
  position: absolute;
  bottom: 0;
  margin: 6px;
  padding: 6px;
  color: #da3701;
  border-radius: 6px;
  background-color: var(--input-bg-color);
}
.main__error-msg .icon {
  width: 1.2em;
  height: 1.2em;
  margin-right: 5px;
  fill: #da3701;
  vertical-align: middle;
}

.stats {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}
.stats__title {
  font-family: "DM Sans", "sans-serif";
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -1px;
}
.stats__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}
@media (min-width: 768px) {
  .stats__box {
    flex-direction: row;
  }
}
.stats__box-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 130px;
  padding: 20px;
  color: #12131a;
  border-radius: 12px;
  overflow: hidden;
}
.stats__box-item--total {
  background-color: #c27cf8;
}
.stats__box-item--wordcount {
  background-color: #ff9f00;
}
.stats__box-item--sentencecount {
  background-color: #fe8159;
}
.stats__box-value {
  font-family: "DM Sans", "sans-serif";
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1px;
  padding-bottom: 8px;
  z-index: 10;
}
@media (max-width: 768px) {
  .stats__box-value {
    font-family: "DM Sans", "sans-serif";
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1px;
  }
}
.stats__box-title {
  font-family: "DM Sans", "sans-serif";
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.6px;
  z-index: 10;
}
.stats__box-icon {
  position: absolute;
  height: 100%;
  top: 0;
  right: -45px;
}
.stats__list {
  display: flex;
  flex-direction: column;
  opacity: 1;
  overflow: hidden;
  gap: 12px;
}
.stats__list-item {
  font-family: "DM Sans", "sans-serif";
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.6px;
  display: grid;
  align-items: center;
  grid-template-columns: 20px auto 80px;
  width: 100%;
  gap: 10px;
}
.stats__list-item:first-child {
  padding-top: 20px;
}
@media (min-width: 768px) {
  .stats__list-item {
    grid-template-columns: 20px auto 100px;
  }
}
.stats__list-bar {
  height: 12px;
  background-color: var(--bar-bg-color);
  border-radius: 999px;
  overflow: hidden;
}
.stats__list-bar-result {
  height: 100%;
  background-color: #d3a0fa;
  border-radius: 999px;
}
.stats__list-amount {
  white-space: nowrap;
  text-align: end;
  overflow: hidden;
  text-overflow: ellipsis;
}
.stats__list--expanded {
  max-height: 999px;
}
.stats__list:not(.stats__list--expanded) .stats__list-item:nth-child(n+5) {
  display: none;
}
.stats__msg {
  font-family: "DM Sans", "sans-serif";
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.6px;
  padding-block: 16px;
}
.stats__btn {
  font-family: "DM Sans", "sans-serif";
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.6px;
  padding-top: 8px;
  padding-bottom: 12px;
  color: inherit;
  background: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: color 0.3s;
}
.stats__btn:focus-visible {
  outline: none;
  border: 2px solid #c27cf8;
  box-shadow: 0px 0px 8px #c27cf8;
}
.stats__btn-icon {
  display: inline-block;
  background-image: var(--arrow-icon);
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: transform 0.3s;
}
.stats__btn-icon--rotated {
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}/*# sourceMappingURL=style.css.map */