$neutral-900-color: #12131a;
$neutral-800-color: #21222c;
$neutral-700-color: #2a2b37;
$neutral-600-color: #404254;
$neutral-200-color: #e4e4ef;
$neutral-100-color: #666ca4;
$neutral-0-color: #ffffff;
$blue-400-color: #d3a0fa;
$blue-500-color: #c27cf8;
$yellow-500-color: #ff9f00;
$orange-500-color: #fe8159;
$orange-800-color: #da3701;
