@use './colors' as *;
@use './typography' as *;
@use './spacing' as *;
@use './radius' as *;

.theme-light {
	--bg-color: #{$neutral-0-color};
	--text-color: #{$neutral-900-color};
	.logo {
		background-image: url('/img/logo-light-theme.svg');
	}
	.switch-btn {
		background-color: $neutral-100-color;
	}
	.icon-sun {
		display: none;
	}
	.icon-moon {
		display: block;
	}
}

.theme-dark {
	--bg-color: #{$neutral-900-color};
	--text-color: #{$neutral-100-color};
	.logo {
		background-image: url('/img/logo-dark-theme.svg');
	}
	.switch-btn {
		background-color: $neutral-700-color;
	}
	.icon-sun {
		display: block;
	}
	.icon-moon {
		display: none;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
	height: 100vh;
	background-color: var(--bg-color);
	color: var(--text-color);
}

.heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: space-between;
	padding: 16px;
	width: 100%;
	height: 64px;
}

.logo {
	width: 100%;
	height: 30px;
	background-repeat: no-repeat;
	background-size: contain;
}

.switch-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border: none;
	border-radius: $radius-6;
	cursor: pointer;
}

.switch-icon {
	width: 20px;
	height: 20px;
}
